name: aquacalc
description: Kalkulatory akwarystyczne AquaCalc
publish_to: 'none'

version: 1.0.0+3

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_local_notifications: ^17.2.2
  fl_chart: ^0.68.0
  timezone: ^0.9.2
  shared_preferences: ^2.2.2

  in_app_purchase: ^3.1.13

  cupertino_icons: ^1.0.8

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:

  uses-material-design: true

  assets:
    - assets/images/
